{
  "extends": ["../../packages/dev-config/eslint-solid-preset"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true
  },
  "globals": {
    "chrome": "readonly"
  }
}
