{
  "extends": ["../../packages/dev-config/eslint-solid-preset.js"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true
  },
  "globals": {
    "chrome": "readonly"
  },
  "overrides": [
    {
      "files": ["utils/*.js"],
      "env": {
        "node": true
      },
      "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "script"
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
