# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/build_firefox
/build_chrome

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history

# secrets
secrets.*.js
