@layer reset, base, tokens, recipes, utilities;

body {
  width: 450px;
  min-height: 260px;
  max-height: 580px;
  position: relative;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--colors-gray-a7);
  border-radius: 999px;
}
