/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

body {
  width: 450px;
  height: 260px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  position: relative;
  overflow-y: auto;
}

