
.share-panel {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
}
.share-icons {
  display: inline-flex;
  vertical-align: middle;
  
  gap: 4px;
  font-size: 16px;
  margin: 0;
  padding: 0 6px;
  padding-bottom: 2px;
}

.icon-wrapper {
  cursor: pointer;
  color: #666;
  transition: all 0.3s ease;
  padding: 4px;
  margin: -4px;
}

.icon-wrapper:hover {
  transform: scale(1.3);
  z-index: 10 !important;
  color: #333;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);

}
